<div>
  <div class="card bg-white container profile">
    <div class="col-sm-10" style="text-align:center">
      <h2 class="text-profile hProfile">PROFILE</h2>
    </div>
    <table class="table col-md-6 mx-auto">
      <tr>
        <td>Name</td>
        <td>{{details?.name}}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{details?.email}}</td>
      </tr>
      <tr>
        <td>Id</td>
        <td>{{details?.id}}</td>
      </tr>
    </table>
    <a *ngIf="details" [routerLink]="['/profile', details?.id]" class="btn btn-dark" role="button" aria-pressed="true">update</a>
  </div>
  
</div> 
    
    <div  >
        <app-add [id]="details?.id" class="card bg-white mb-3 container text-profile addManual" ></app-add>
      </div>
      <div class="manual">
        <h2 class="card bg-white hManual container">Your manual</h2>
  <div *ngFor="let manual of manuals">
      <div class=" card bg-white container" style="margin-bottom: 15px;">
        <h5 class="card-header" style="background-color:#fff">{{manual?.name}}</h5>
        <div class="card-body">
          <p class="card-text">{{manual?.description}}</p>
          <p class="card-text">{{manual?.id}}</p>
          <div class="text right">
          <a  [routerLink]="['/updateManual', manual?.id]" class="btn btn-dark btn-right">detail</a>
        </div>
        </div>
      </div>
      </div>
    </div>

   
  
