<div class="card text-center">
    <div class="card-header">
        <h3>{{manualName}}</h3>
    </div>  
    <div class="card-body">
      <h5 class="card-title">Step {{counter}}</h5>
      <p class="card-text">{{steps?.description}}</p>
    </div>
    <div class="card-footer text-muted">
      <div style="float:left">
          <Button class="btn btn-light"  (click)="decrement()"><</Button>
      </div>
      <div style="float:right">
          <Button class="btn btn-light" (click)="increment()">></Button>
      </div>
    </div>
  </div>

<div>
  <p>
     
     
  </p>
</div>
