<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">email</th>
        <th scope="col">delete</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of users">
      <tr>
        <th  scope="row">{{user?.id}}</th>
        <td>{{user?.name}}</td>
        <td>{{user?.email}}</td>
        <td><button class="btn btn-light" (click)="deleteUsers(user?.id)">delete</button></td>
      </tr>
    </tbody>
  </table>
